/*.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(15deg, #858b97, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
}*/
body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  --color: #000000;
}
.app {
  display: flex;
  height: 100vh;
  /*width: 100vw;*/
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
